.container_main {
	position: relative;
	width: 100vw;
	min-height: 100vh;
}

.container_info {
	padding-bottom: 2.5rem;
}

.bg_intro {
	width: 100%;
	height: 100vh;

	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
		url("./assets/images/limon-table.webp");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	clip-path: circle(66.8% at 50% 6%);
}

.header {
	padding: 400px 0 30px 0;
}

.title {
	font-size: 50px;
	text-transform: uppercase;
	font-family: "Prompt", sans-serif;
}

section {
	width: 100%;
	height: 100%;
}

/* media querys */

/* mobile sizes */
@media (min-width: 320px) and (max-width: 480px) {
	.bg_intro {
		clip-path: circle(68% at 50% 27%);
	}

	.header {
		padding: 300px 0 30px 0;
	}
}

/* tablet sizes */
@media (min-width: 481px) and (max-width: 778px) {
	.bg_intro {
		clip-path: circle(72.9% at 50% 25%);
	}

	.header {
		padding: 350px 0 30px 0;
	}
}
